* { box-sizing: border-box; }

header, nav, main, footer {display: block;}

body {margin:20px;
        background-color:#B36104;}

.about-container {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(10, 1fr);
        grid-template-areas: "header header header header header header"
                "header header header header header header"
                "nav section section section section aside"
                "nav section section section section aside"
                "nav section section section section aside"
                "nav section section section section aside"
                "nav section section section section aside"
                "nav section section section section aside"
                "nav section section section section aside"
                "footer footer footer footer footer footer";
}

.home-container {display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(10, 1fr);
        grid-template-areas: "nav nav nav section section section"
                "header header header section section section"
                "header header header section section section"
                "header header header section section section"
                "header header header section section section"
                "header header header section section section"
                "header header header section section section"
                "header header header section section section"
                "header header header section section section"
                "footer footer footer footer footer footer"}

header {
        background-color: #007EB3;
        grid-area: header;
        border: solid 5px #B36104;
        border-radius: 15px;
}

.home-header {display: flex;
        gap: 20px;
        padding: 20px;
        justify-content: center;
        flex-direction: column;}

h1 {font-size: 3.5em;}

h2 {font-size: 2em;}

p{ font-size: 1.5em;}

.title {color: white;
        text-shadow: black 0px 0px 10px;}

.about-title {display: flex;
        align-self: center;
        justify-content: center;}

.home-title {display: flex;
        justify-content: center;
        text-align: center;}

nav {
        background-color: #0DB7FF;
        grid-area: nav;
        border: solid 5px #B36104;
        border-radius: 15px;
}

aside {
        background-color: #0DB7FF;
        grid-area: aside;
        border: solid 5px #B36104;
        border-radius: 15px;
}


section {
        background-color: #FF9A26;
        grid-area: section;
        border: solid 5px #B36104;
        border-radius: 15px;
}


footer {
        min-height: 100px;
        background-color: #007EB3;
        grid-area: footer;
        border: solid 5px #B36104;
        border-radius: 15px;
}

.home-footer {background-color: #0DB7FF;}

